$main_color: #443a8b;
$color_white: #ffffff;
$color_black: #000000;
$color_pink: #fe6192;
$color_grey: #f7f7f7;
$color_dark_grey: #ececec;
$color_text_grey: #b2b2b8;
$color_blue_waves: #2391ee;
$color_waves_arow: #50efcb;
$color_blue_blok: #c0e9e5;
$color_dark_round: #2d246c;
$color_dark_digits: #3f3682;
$color_dark_points: #362e6f;

$blok_height1: 1225px;
$blok_height2: 2224px;
$blok_height3: 3865px;

$wriper: 600px;