@import "_variables";
*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1240px;
  margin: 0 auto;
}

header {

    main {
        height: 100%;
    }
}

.top, .process, .contact, footer {
    background-color: $main_color;
}

.hello, .profile {
    background-color: $color_grey;
}

.mywork, .myblog, .clients {
    background-color: $color_white;
}

.top, .myblog, .clients, .contact, footer {
    height: $blok_height1;
}

.profile, .process {
    height: $blok_height2;
    clip-path: polygon(0 7%, calc(100%) 0, 100% 100%, 0 calc(100% - 15vw));
    padding-top: 25%;
}

.mywork {
    height: $blok_height3;
}

.contact {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.bold {
    font-weight: bold;
}


.white {
    color: $color_white;
}

.gray {
    color: $color_text_grey;
}

hh2 {
    font-weight: bold;
    font-size: 105px;
    line-height: 90%;
}


.p2 {
    text-align: center;
    /* margin-left: 42%; */
    margin-right: auto;
    padding: 25% 0;
}

.vl {
    border-left: 3px solid;
    height: 80px;
    margin-left: 50%;
    line-height: 400%;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
}

.red_line {
    border-bottom: 2px solid;
    border-bottom-color: red;
    height: 10px;
    margin-left: 25%;
    margin-right: 68%;
}

.article {
    width: 1300px;
    margin: 0 auto;
}


//.content {
    //width: 300px;
//}

.left .content {
    text-align: right;
    /* float: left; */
}

.right .content {
    /* float: right; */
    text-align: left;
}

.left .content a {
    display: block;
    color: deeppink;
    text-transform: uppercase;
    text-align: center;
}

.picture1 {
    display: block;
    text-decoration: none;
    text-align: left;
    background-color: #f4f4f4;
    /* padding: 150px 5px 10px; */
    box-sizing: 600px, 600px, 100%, 5;
 /*   box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 25%); */
    color: #4f4f4f;
}

.left .picture1 {
    text-align: right;
}
