include _mixin

- let data = {"title": "I'm a UX/UI designer Austin based, who loves clean, simple & unique design. I also enjoy crafting brand identities, icons, & illustration work.", "text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis erat sed elit sceleris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis erat sed elit scelerisque iaculis. Nullam nec porttitor justo, at iaculis risus. Aliquam erat volutpat. que iaculis.", "link":{"name":"Some link", "href":"Link"}};
//+article(data, 'profile')