div

      div( style="position: fixed; margin-top: 100px; margin-left: 7%;")
        a(href="/")
          img(src="./../app/images/1me.png" alt="me")

      div( style="position: fixed; margin-top: 100px; margin-left: 89%;")
          img(src="./../app/images/2lines.png" alt="menu")

      div( style="position: absolute; margin-top: 16%; margin-left: 72%;")
         img(src="./../app/images/3waves.png")

      div( style="position: absolute; margin-top: 37%; margin-left: 71%;")
         img(src="./../app/images/4.png")

      div( style="position: absolute; margin-top: 35%; margin-left: 31%;")
           img(src="./../app/images/5.png")