doctype html
html
    include ./../blocks/head    
    body       
        include ./../blocks/top/top
        include ./../blocks/hello/hello
        include ./../blocks/mywork/mywork
        script(src='/js/main.js')