doctype html
html
    include ./../blocks/head
    
    body
        
        style
            include ./../css/style.css
        
        include ./../blocks/top/top
        
//  include ./../blocks/footer
 //  include ./../parts/buttons/butt      
     include ./../parts/buttons/butt1
     include ./../parts/buttons/butt2
        include ./../parts/buttons/butt3
        include ./../parts/buttons/butt4
        include ./../parts/buttons/butt5
        include ./../parts/buttons/butt6
        h1 Hello
        include ./../blocks/button/button
    include ./../parts/buttons/title.scss