doctype html
html
    include ./../blocks/head
    
    body
        h1 Hello
        style
            include ./../parts/buttons/title.scss
        include ./../parts/buttons/butt1
        include ./../parts/buttons/butt2
        include ./../parts/buttons/butt3
        include ./../parts/buttons/butt4
        include ./../parts/buttons/butt5
        include ./../parts/buttons/butt6
//  include ./../blocks/footer
 //  include ./../parts/buttons/butt     