@import "../../scss/_variables";
.block-title{
  font-size: 80px;
  position: relative;
  margin: 0 0 86px;
  text-align: center;
  text-transform: uppercase;
  span{
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    font-weight: 400;
    position: absolute;
    padding: 32px 0 0 20px;
    top: -56px;
    left: 50%;
    color: #232227;
    border-left: 1px solid #232227;
    text-transform: lowercase;
  }
}