.svgwave
    .shape.shape_w1
           //img( src='shape.svg')
           //svg( xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3.246cm" height="2.293cm")
                path(fill-rule="evenodd"  d="M88.628,7.166 C88.483,8.031 88.046,8.512 86.996,8.322 L77.569,6.355 C76.764,6.183 75.895,5.891 75.723,6.850 L74.108,15.201 C73.963,16.066 73.471,16.732 72.475,16.355 L63.047,14.391 C62.184,14.252 61.260,14.145 61.090,15.102 L59.473,23.455 C59.328,24.320 58.836,24.985 57.840,24.609 L48.414,22.643 C47.609,22.470 46.685,22.365 46.455,23.357 L44.649,32.474 C44.409,32.927 43.978,33.148 43.221,33.010 L33.795,31.045 C32.990,30.872 32.120,30.580 31.948,31.539 L30.334,39.889 C30.188,40.754 29.697,41.422 28.701,41.045 L19.273,39.080 C18.409,38.939 17.486,38.834 17.315,39.790 L15.699,48.143 C15.553,49.008 15.062,49.676 14.066,49.299 L4.640,47.334 C3.835,47.160 2.911,47.054 2.680,48.046 L0.009,61.532 L1.940,64.985 L3.306,57.875 C3.476,56.916 4.551,57.013 5.262,57.160 L14.691,59.127 C15.681,59.352 16.085,58.811 16.263,58.004 L17.939,49.621 C18.085,48.756 19.186,48.759 19.837,48.940 L29.263,50.905 C30.314,51.099 30.750,50.615 30.896,49.751 L32.513,41.402 C32.684,40.442 33.761,40.539 34.470,40.688 L43.898,42.652 C44.889,42.879 45.292,42.336 45.471,41.532 L47.254,32.849 C47.611,32.300 48.436,32.349 49.037,32.471 L58.465,34.436 C59.456,34.663 59.859,34.121 60.038,33.315 L61.713,24.932 C61.859,24.066 62.960,24.070 63.612,24.251 L73.038,26.217 C74.089,26.408 74.525,25.926 74.670,25.063 L76.288,16.712 C76.458,15.754 77.535,15.850 78.244,15.997 L87.672,17.962 C88.664,18.188 89.067,17.648 89.245,16.842 L92.010,3.380 L90.113,-0.012 L88.628,7.166 Z")
           include svgwave
    .shape.shape_w3
        include svgwave
