div
    include mixins.pug
    //*buttons(text, textcolor, colorb, border, bordercolor, class, +n) *//
    +buttons("LOAD MOR WORK", "#fe6192", "white", 2, "#fe6192", "butt ", "n1")(class = "butt" + n1)