//include ./../../parts/articles.scss
//+articles_fon('100px', '100px', 'left')
div(class="articles__content")
    h3(class="articles__title")
    div(class="red_line")
    p(class="articles__text")
    a(class="articles__link")

//div(class="articles_right")
    div(class="content1")
      |ggggggggg lllllllll hhhhhhhhh vvhjjkkb
    div(class="red_line")
    div(class="content_normal")
      |ddddddddg  wghw wyghw wtgqy5q 5tgqgtgw t4wtggt hyetyaqQ QGREGQ 5YQHYQT graegqeh eeeeeeeee wwwwwwwww fsggs sgs  sgsrg sgrgwr wrhwht wtrghw w5y5w4gtw glkjxhxhfgxf vhhgfxgxgxf