include ../../parts/block-title/block-title
section.hello
    .wrapper
        +block-title({"title":"hello", "text":"who am i"})
        include ../../parts/block-title/block-title
        include ../../parts/article/article
